html {
  position: relative;
  min-height: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.alert {
  margin-bottom: 0;
}

.main {
  background: transparent;
}

.card {
  margin-bottom: 15px;
}

.post-info {
  margin-top: 10px;
}

.footer {
  background-color: #EEE;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.footer p {
  padding-top: 14px;
}
