html {
  position: relative;
  min-height: 100%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.user-nav a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.user-nav img {
  position: initial;
  left: -25px;
  top: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.alert {
  margin-bottom: 0;
}

.jumbotron {
  background-image: url('/images/banner.png');
  background-size: cover;
  height: 20vh;
  color: white;
}

.main {
  background: transparent;
}

.card {
  margin-bottom: 15px;
}

.post-info {
  margin-top: 10px;
}

.media h6 {
  margin: 0px;
}

.media img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pagination>li>span, .pagination>li>a {
  color: #3C4858 !important;
}

.footer {
  background-color: #EEE;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.footer p {
  padding-top: 14px;
}
